files: |
    (?x)^(
        src/.*/.*py
        | examples/.*py
        | docs/source/conf.py
    )$

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
      # Run the linter.
      - id: ruff-check
        exclude: ^docs/
        types_or: [python, pyi, jupyter]
        args: [ --fix ]
      # Run the formatter.
      - id: ruff-format
        types_or: [ python, pyi, jupyter ]

  - repo: local
    hooks:
    - id: ty
      name: ty check
      entry: uv run ty check src/
      language: python

  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    - id: codespell
      additional_dependencies:
      - tomli

  - repo: https://github.com/numpy/numpydoc
    rev: v1.9.0
    hooks:
    - id: numpydoc-validation
      files: ^src/(?!.*tests).+$
